<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test">
    <select id="findall" resultType="com.dgsw.mybatis.dto.Test">
        select idx,aa,bb from test
    </select>

    <select id="findbyidx"
            parameterType="int"
            resultType="com.dgsw.mybatis.dto.Test">
        select idx,aa,bb from test where idx=#{idx}
    </select>

    <insert id="inserttest" parameterType="com.dgsw.mybatis.dto.Test">
        insert into test (idx, aa,bb) values (DEFAULT, #{aa},#{bb})
    </insert>

    <!-- 추가 : 글 삭제 처리  -->
    <delete id="delete" parameterType="Long">
        delete from test where idx=${idx}
    </delete>

    <update id="updatetest" parameterType="com.dgsw.mybatis.dto.Test">
        update test
            set aa=#{aa}, bb=#{bb}
        where idx=#{idx}
    </update>
</mapper>