<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="join">
    <select id="student" resultType="com.dgsw.mybatis.dto.학생수강">
        select idx as 'h_idx', 학년 as 'grade', 이름 as 'name'
        from 학생
    </select>

    <select id="subject" resultType="com.dgsw.mybatis.dto.학생수강">
        select 학생idx as '학생_idx',
        idx as 't_idx', 과목명
        from 수강
    </select>

    <select id="studentsubject" resultType="com.dgsw.mybatis.dto.학생수강">
        select a.idx as 'h_idx',
        b.idx as 't_idx'
        a.학년, a.이름, b.과목명
        from 학생 a
        left outer join 수강 b on a.idx= b.학생idx
    </select>

</mapper>