<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">
    <select id="findall" resultType="com.dgsw.mybatis.dto.Test">
        select * from test
    </select>

    <insert id="inserttest" parameterType="com.dgsw.mybatis.dto.Test">
        insert into test (aa,bb) values (#{aa},#{bb})
    </insert>
</mapper>