<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html-head">
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script>
        // alert("잘되나");
    </script>
</head>
<body>
<div th:fragment="html-nav">
    <ul>
        <li><a href="/">index</a></li>
        <li><a href="/board/findall">findall</a></li>
        <li><a href="/board/insert">insert</a></li>
        <li><a href="/join/main">학생수강</a></li>
    </ul>
</div>
<div th:fragment="html-foot">
    밑에 부분 입니다.
</div>
</body>
</html>