<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        var testa = [[${mya}]];
        console.log(testa);
    </script>
    <style>
        .mystyle{
            width: 100px;
            height: 100px;
            background-color: #ff0000;
        }
    </style>
</head>
<body>
<p th:text="${aa}">
    원래 문자열 입니다.
</p>
<ul>
<li th:each="name:${alist}">
    [[${name}]]
</li>
</ul>

<div th:if="${mytrue}">
    true면 나옵니다..
</div>

<div th:classappend="${mytrue}? 'mystyle'">
</div>

<div th:replace="footer::copy">
</div>

</body>
</html>